* {
    box-sizing: border-box
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color : #121212
        --color            : #f0f0f0
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color : #ffffff
        --color            : #000000
    }
}

html, body {
    font-family    : sans-serif
    background     : var(--background-color)
    color          : var(--color)
    -webkit-user-select : none
    -moz-user-select    : none
    -ms-user-select     : none
    user-select         : none
}

.content {
    margin    : auto
    padding   : 16px
}

#header {
    display        : flex
    justify-content: center
    gap           : 10px
    padding       : 10px 0
}

.page {
    display: none
}
